/* You can add global styles to this file, and also import other style files */
#themecolors a {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.w150 {
  max-width: 150px;
  margin-bottom: 15px
}
.w70 {
  width: 70px;
}
.img-50 {
  width: 50px;
}

.fondo-negro {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.oculto {
  display: none;
}
